# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables and secrets
.env
*.env

# Ignore database files (if using SQLite)
db.sqlite3

# Ignore Django migrations cache (optional)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Ignore MySQL database dumps and config files
*.sql
*.sql.gz
mysql.cnf

# Ignore Virtual Environments
venv/
env/
.venv/

# Ignore logs
*.log
logs/

# Ignore Django static and media files (if collected)
staticfiles/
media/

# Ignore VS Code settings
.vscode/

# Ignore JetBrains IDEs (PyCharm)
.idea/

# Ignore compiled Cython files
*.so

# Ignore coverage reports
.coverage
htmlcov/
backend/warehouse_inventory/static/css/base.css
backend/warehouse_inventory/static/fonts/minecraft_font.ttf
backend/warehouse_inventory/static/images/mc2.png
backend/warehouse_inventory/static/images/mc3.jpg
backend/warehouse_inventory/static/images/mc4.jpg
backend/warehouse_inventory/static/images/mcwall/Minecraft_Trails&Tales_.Net_1080x1920.png
backend/warehouse_inventory/static/images/mcwall/Minecraft_Trails&Tales_.Net_2048x2048.png
backend/warehouse_inventory/static/images/mcwall/Minecraft_Trails&Tales_.Net_560x1440.png
backend/warehouse_inventory/static/images/mcwall/Minecraft_Trails&Tales_.Net_800x450.png
backend/warehouse_inventory/static/images/mcwall/Minecraft_Trails&Tales_.Net_800x800.png
backend/warehouse_inventory/static/images/mcwall/wallpaper_minecraft_adventure_1080x1920.png
backend/warehouse_inventory/static/images/mcwall/wallpaper_minecraft_adventure_2048x2048.png
backend/warehouse_inventory/static/images/mcwall/wallpaper_minecraft_adventure_2560x1440.png
backend/warehouse_inventory/static/images/mcwall/wallpaper_minecraft_adventure_Adventure_2058x1440.png
backend/warehouse_inventory/static/images/mcwall/wallpaper_minecraft_bedrock_edition_560x1440.png
backend/warehouse_inventory/static/images/mcwall/wallpaper_minecraft_bedrock_edition_800x450.png
backend/warehouse_inventory/static/images/mcwall/wallpaper_minecraft_bedrock_edition_800x800.png
backend/warehouse_inventory/static/images/mcwall/wallpaper_minecraft_burberry_1080x1920.png
backend/warehouse_inventory/static/images/mcwall/minecraft_title (1).png
backend/warehouse_inventory/migrations/0001_initial.py
