<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Manager Home</title>
</head>
<body>
    <h2>Welcome, {{ request.user.manager_name }}</h2>

    <a href="{% url 'restaurant_manager_requests' %}">
        <button>Accept Restaurant Manager Requests</button>
    </a>

    <a href="{% url 'add_food_item' %}">
        <button>Add Food Item</button>
    </a>
    
    <a href="{% url 'view_food_items' %}">
        <button>View Food Items</button>
    </a>
    <a href="{% url 'expired_food_items' %}">
        <button>Expired Food Items</button>
    </a>
    <br><br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>
