{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp - SupplyCraft</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tektur:wght@400..900&display=swap"
    rel="stylesheet"
  >
  <style>
    body {
      margin: 0;
      padding: 0;
      /* Example: Minecraft-like background image */
      background-size: cover;
      font-family: "Pixelify Sans", sans-serif;
      color: #ffffff;
     
      /* Custom background */
      background: url("{% static 'images/mcwall/Login_bg3.png' %}") no-repeat center center fixed;

      background-size: cover;
        
    }
  </style>
</head>
<body>
    <h2>Warehouse Manager Signup</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
